nodered/DHT22.json
[
    {
        "id": "618298c4.a4f2a8",
        "type": "tab",
        "label": "DHT22",
        "disabled": false,
        "info": ""
    },
    {
        "id": "33db5398.19474c",
        "type": "serial in",
        "z": "618298c4.a4f2a8",
        "name": "Serial_In",
        "serial": "df9c7e98.76f53",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "b9f6f47c.1db638"
            ]
        ]
    },
    {
        "id": "b9f6f47c.1db638",
        "type": "switch",
        "z": "618298c4.a4f2a8",
        "name": "Temp_Humid_Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "temperature:*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "humidity:*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "87b20974.df69f8"
            ],
            [
                "e4d141c.02956c"
            ]
        ]
    },
    {
        "id": "84776dea.ea5b",
        "type": "debug",
        "z": "618298c4.a4f2a8",
        "name": "DHT22_Humid_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1040,
        "y": 300,
        "wires": []
    },
    {
        "id": "87b20974.df69f8",
        "type": "change",
        "z": "618298c4.a4f2a8",
        "name": "Temp_Transform",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Sensor\": \"DHT22\" , \"Measurement\": \"Temperature\", \"Value\": $number($substringBefore($substringAfter(payload, \"temperature:\"),\"\\n\")), \"Unit\": \"Degree Celsius\"}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "c9c7a080.a82a8"
            ]
        ]
    },
    {
        "id": "e4d141c.02956c",
        "type": "change",
        "z": "618298c4.a4f2a8",
        "name": "Humid_Transform",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Sensor\": \"DHT22\" , \"Measurement\": \"Humidity\", \"Value\": $number($substringBefore($substringAfter(payload, \"humidity:\"),\"\\n\")), \"Unit\": \"Percent\"}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "dc66f037.fbe7c"
            ]
        ]
    },
    {
        "id": "c9c7a080.a82a8",
        "type": "smooth",
        "z": "618298c4.a4f2a8",
        "name": "Mean_30",
        "property": "payload.Value",
        "action": "mean",
        "count": "30",
        "round": "2",
        "mult": "single",
        "reduce": true,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "33384fed.966e8",
                "cdde2821.4e5f88"
            ]
        ]
    },
    {
        "id": "dc66f037.fbe7c",
        "type": "smooth",
        "z": "618298c4.a4f2a8",
        "name": "Mean_30",
        "property": "payload.Value",
        "action": "mean",
        "count": "30",
        "round": "2",
        "mult": "single",
        "reduce": true,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "84776dea.ea5b",
                "cdde2821.4e5f88"
            ]
        ]
    },
    {
        "id": "193a0e1a.1d6e82",
        "type": "debug",
        "z": "618298c4.a4f2a8",
        "name": "DHT22_PublishedMamRoot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1260,
        "y": 200,
        "wires": []
    },
    {
        "id": "33384fed.966e8",
        "type": "debug",
        "z": "618298c4.a4f2a8",
        "name": "DHT22_Temp_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1040,
        "y": 60,
        "wires": []
    },
    {
        "id": "cdde2821.4e5f88",
        "type": "mamPublish",
        "z": "618298c4.a4f2a8",
        "iotaNode": "https://nodes.devnet.thetangle.org:443",
        "mode": "restricted",
        "secretKey": "RAREYODAPEPE",
        "x": 1020,
        "y": 200,
        "wires": [
            [
                "193a0e1a.1d6e82"
            ]
        ]
    },
    {
        "id": "df9c7e98.76f53",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]