nodered/SCD30.json
[
    {
        "id": "a0154760.97ad68",
        "type": "tab",
        "label": "SCD30",
        "disabled": false,
        "info": ""
    },
    {
        "id": "34b00d8.d3aacf2",
        "type": "serial in",
        "z": "a0154760.97ad68",
        "name": "Serial_In",
        "serial": "9525f378.f6bc6",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "230076dc.4ea22a"
            ]
        ]
    },
    {
        "id": "230076dc.4ea22a",
        "type": "switch",
        "z": "a0154760.97ad68",
        "name": "Tem_Humid_Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "temperature:*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "humidity:*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "4ff8aa1a.8571f4"
            ],
            [
                "8281be3a.f25cb"
            ]
        ]
    },
    {
        "id": "3e470c83.3d1fb4",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "SCD30_Humid_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1000,
        "y": 300,
        "wires": []
    },
    {
        "id": "4ff8aa1a.8571f4",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "Temp_Transform",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Sensor\": \"SCD30\" , \"Measurement\": \"Temperature\", \"Value\": $number($substringBefore($substringAfter(payload, \"temperature:\"),\"\\n\")), \"Unit\": \"Degree Celsius\"}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "26e4db62.db5654"
            ]
        ]
    },
    {
        "id": "8281be3a.f25cb",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "Humid_Transform",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Sensor\": \"SCD30\" , \"Measurement\": \"Humidity\", \"Value\": $number($substringBefore($substringAfter(payload, \"humidity:\"),\"\\n\")), \"Unit\": \"Percent\"}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "d90829b6.5416e8"
            ]
        ]
    },
    {
        "id": "26e4db62.db5654",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_30",
        "property": "payload.Value",
        "action": "mean",
        "count": "30",
        "round": "3",
        "mult": "single",
        "reduce": true,
        "x": 780,
        "y": 140,
        "wires": [
            [
                "775d2b4d.9c8674",
                "1e7003dd.bcc1ec"
            ]
        ]
    },
    {
        "id": "d90829b6.5416e8",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_30",
        "property": "payload.Value",
        "action": "mean",
        "count": "30",
        "round": "3",
        "mult": "single",
        "reduce": true,
        "x": 780,
        "y": 240,
        "wires": [
            [
                "3e470c83.3d1fb4",
                "1e7003dd.bcc1ec"
            ]
        ]
    },
    {
        "id": "7eed948c.64e5dc",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "SCD30_PublishedMamRoot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1200,
        "y": 200,
        "wires": []
    },
    {
        "id": "775d2b4d.9c8674",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "SCD30_Temp_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1000,
        "y": 80,
        "wires": []
    },
    {
        "id": "1e7003dd.bcc1ec",
        "type": "mamPublish",
        "z": "a0154760.97ad68",
        "iotaNode": "https://nodes.devnet.thetangle.org:443",
        "mode": "restricted",
        "secretKey": "RAREYODAPEPE",
        "x": 970,
        "y": 200,
        "wires": [
            [
                "7eed948c.64e5dc"
            ]
        ]
    },
    {
        "id": "9525f378.f6bc6",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]