NodeRed/SCD30.json
[
    {
        "id": "a0154760.97ad68",
        "type": "tab",
        "label": "SCD30",
        "disabled": false,
        "info": ""
    },
    {
        "id": "34b00d8.d3aacf2",
        "type": "serial in",
        "z": "a0154760.97ad68",
        "name": "SCD30_Serial",
        "serial": "9525f378.f6bc6",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "230076dc.4ea22a"
            ]
        ]
    },
    {
        "id": "230076dc.4ea22a",
        "type": "switch",
        "z": "a0154760.97ad68",
        "name": "SCD30_Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "temperature:*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "humidity:*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "4ff8aa1a.8571f4"
            ],
            [
                "8281be3a.f25cb"
            ]
        ]
    },
    {
        "id": "3e470c83.3d1fb4",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "SCD30_Humid_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "4ff8aa1a.8571f4",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "SCD30_Temp_Transform",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"SensorType\": \"Temperature\", \"Location\": \"Rotkreuz\", \"SensorName\": \"SCD30\", \"Unit\": \"Degree Celsius\", \"Value\": $number($substringBefore($substringAfter(payload, \"temperature:\"),\"\\n\"))}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "26e4db62.db5654"
            ]
        ]
    },
    {
        "id": "8281be3a.f25cb",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "SCD30_Humid_Transform",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"SensorType\": \"Humidity\", \"Location\": \"Rotkreuz\", \"SensorName\": \"SCD30\", \"Unit\": \"Percent\", \"Value\": $number($substringBefore($substringAfter(payload, \"humidity:\"),\"\\n\"))}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 271,
        "wires": [
            [
                "d90829b6.5416e8"
            ]
        ]
    },
    {
        "id": "26e4db62.db5654",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_10_Values",
        "property": "payload.Value",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "single",
        "reduce": true,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "775d2b4d.9c8674",
                "4c52e723.ccb338"
            ]
        ]
    },
    {
        "id": "d90829b6.5416e8",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_10_Values",
        "property": "payload.Value",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "single",
        "reduce": true,
        "x": 806,
        "y": 271,
        "wires": [
            [
                "3e470c83.3d1fb4"
            ]
        ]
    },
    {
        "id": "7eed948c.64e5dc",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "SCD30_LastMAMRoot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1580,
        "y": 200,
        "wires": []
    },
    {
        "id": "775d2b4d.9c8674",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "SCD30_Temp_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "c38f8b58.e7e2f8",
        "type": "ui_dropdown",
        "z": "a0154760.97ad68",
        "name": "",
        "label": "IOTA node",
        "tooltip": "",
        "place": "https://nodes.devnet.thetangle.org:443",
        "group": "45ff4503.e6966c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "https://nodes.devnet.thetangle.org:443",
                "value": "https://nodes.devnet.thetangle.org:443",
                "type": "str"
            },
            {
                "label": "https://trinity.iota.fm:443/",
                "value": "https://trinity.iota.fm:443/",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1230,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4c52e723.ccb338",
        "type": "gate",
        "z": "a0154760.97ad68",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "persist": false,
        "x": 1210,
        "y": 200,
        "wires": [
            [
                "4bde66ef.7e1268"
            ]
        ]
    },
    {
        "id": "11ddde9.5755421",
        "type": "ui_switch",
        "z": "a0154760.97ad68",
        "name": "",
        "label": "Publish data",
        "tooltip": "",
        "group": "45ff4503.e6966c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "style": "",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1090,
        "y": 60,
        "wires": [
            [
                "4c52e723.ccb338"
            ]
        ]
    },
    {
        "id": "4bde66ef.7e1268",
        "type": "mamPublish",
        "z": "a0154760.97ad68",
        "iotaNode": "https://nodes.devnet.thetangle.org:443",
        "mode": "public",
        "secretKey": null,
        "x": 1370,
        "y": 200,
        "wires": [
            [
                "7eed948c.64e5dc"
            ]
        ]
    },
    {
        "id": "9525f378.f6bc6",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "45ff4503.e6966c",
        "type": "ui_group",
        "z": "",
        "name": "General Setup",
        "tab": "3d75fc11.5e9874",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "3d75fc11.5e9874",
        "type": "ui_tab",
        "z": "",
        "name": "Masked Authenticated Messaging",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]