NodeRed/TemperatureAndHumidity.json
[
    {
        "id": "a0154760.97ad68",
        "type": "tab",
        "label": "TemperatureAndHumidity",
        "disabled": false,
        "info": ""
    },
    {
        "id": "57d4e3c1.6e659c",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "ArduinoMega_Debug_Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1260,
        "y": 40,
        "wires": []
    },
    {
        "id": "34b00d8.d3aacf2",
        "type": "serial in",
        "z": "a0154760.97ad68",
        "name": "ArduinoMega_Serial_In",
        "serial": "9525f378.f6bc6",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "230076dc.4ea22a"
            ]
        ]
    },
    {
        "id": "ca20d3ae.ba1fc",
        "type": "serial in",
        "z": "a0154760.97ad68",
        "name": "ArduinoNano_Serial_In",
        "serial": "df9c7e98.76f53",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "77ee07c4.bd0e18"
            ]
        ]
    },
    {
        "id": "261b1e52.fff7f2",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "ArduinoNano_Debug_Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "77ee07c4.bd0e18",
        "type": "switch",
        "z": "a0154760.97ad68",
        "name": "ArduinoNano_Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "temperature:*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "humidity:*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "f20d52fc.7259d"
            ],
            [
                "20f0c848.5edb18"
            ]
        ]
    },
    {
        "id": "230076dc.4ea22a",
        "type": "switch",
        "z": "a0154760.97ad68",
        "name": "ArduinoMega_Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "temperature:*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "humidity:*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "4ff8aa1a.8571f4"
            ],
            [
                "8281be3a.f25cb"
            ]
        ]
    },
    {
        "id": "3e470c83.3d1fb4",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "ArduinoMega_Debug_Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "71308c9c.7e5444",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "ArduinoNano_Debug_Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1270,
        "y": 360,
        "wires": []
    },
    {
        "id": "4ff8aa1a.8571f4",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "Temperature_TransformPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(\t   $substringBefore(\t       $substringAfter(payload, \"temperature:\"),\t       \"\\n\"\t   )\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 40,
        "wires": [
            [
                "26e4db62.db5654"
            ]
        ]
    },
    {
        "id": "f20d52fc.7259d",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "Temperature_TransformPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(\t   $substringBefore(\t       $substringAfter(payload, \"temperature:\"),\t       \"\\n\"\t   )\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "1037a937.ce3717"
            ]
        ]
    },
    {
        "id": "8281be3a.f25cb",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "Humidity_TransformPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(\t   $substringBefore(\t       $substringAfter(payload, \"humidity:\"),\t       \"\\n\"\t   )\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 140,
        "wires": [
            [
                "d90829b6.5416e8"
            ]
        ]
    },
    {
        "id": "20f0c848.5edb18",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "Humidity_TransformPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(\t   $substringBefore(\t       $substringAfter(payload, \"humidity:\"),\t       \"\\n\"\t   )\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "4078ef13.4d9d2"
            ]
        ]
    },
    {
        "id": "26e4db62.db5654",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_10_Values",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "single",
        "reduce": true,
        "x": 990,
        "y": 40,
        "wires": [
            [
                "57d4e3c1.6e659c"
            ]
        ]
    },
    {
        "id": "d90829b6.5416e8",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_10_Values",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "single",
        "reduce": true,
        "x": 990,
        "y": 140,
        "wires": [
            [
                "3e470c83.3d1fb4"
            ]
        ]
    },
    {
        "id": "1037a937.ce3717",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_10_Values",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "single",
        "reduce": true,
        "x": 990,
        "y": 260,
        "wires": [
            [
                "261b1e52.fff7f2"
            ]
        ]
    },
    {
        "id": "4078ef13.4d9d2",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_10_Values",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "single",
        "reduce": true,
        "x": 990,
        "y": 360,
        "wires": [
            [
                "71308c9c.7e5444"
            ]
        ]
    },
    {
        "id": "9525f378.f6bc6",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "df9c7e98.76f53",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]