NodeRed/TemperatureAndHumidity.json
[
    {
        "id": "a0154760.97ad68",
        "type": "tab",
        "label": "TemperatureAndHumidity",
        "disabled": false,
        "info": ""
    },
    {
        "id": "34b00d8.d3aacf2",
        "type": "serial in",
        "z": "a0154760.97ad68",
        "name": "SCD30_Serial",
        "serial": "9525f378.f6bc6",
        "x": 120,
        "y": 169,
        "wires": [
            [
                "230076dc.4ea22a"
            ]
        ]
    },
    {
        "id": "ca20d3ae.ba1fc",
        "type": "serial in",
        "z": "a0154760.97ad68",
        "name": "DHT22_Serial",
        "serial": "df9c7e98.76f53",
        "x": 110,
        "y": 417,
        "wires": [
            [
                "77ee07c4.bd0e18"
            ]
        ]
    },
    {
        "id": "261b1e52.fff7f2",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "DHT22_Temp_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "77ee07c4.bd0e18",
        "type": "switch",
        "z": "a0154760.97ad68",
        "name": "DHT22_Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "temperature:*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "humidity:*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 293,
        "y": 417,
        "wires": [
            [
                "f20d52fc.7259d"
            ],
            [
                "20f0c848.5edb18"
            ]
        ]
    },
    {
        "id": "230076dc.4ea22a",
        "type": "switch",
        "z": "a0154760.97ad68",
        "name": "SCD30_Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "temperature:*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "humidity:*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 169,
        "wires": [
            [
                "4ff8aa1a.8571f4"
            ],
            [
                "8281be3a.f25cb"
            ]
        ]
    },
    {
        "id": "3e470c83.3d1fb4",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "SCD30_Humid_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1060,
        "y": 260,
        "wires": []
    },
    {
        "id": "71308c9c.7e5444",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "DHT22_Humid_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1060,
        "y": 500,
        "wires": []
    },
    {
        "id": "4ff8aa1a.8571f4",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "SCD30_Temp_Transform",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"SensorName\": \"SCD30\", \"SensorType\": \"Temperature\", \"Unit\": \"Degree Celsius\", \"Value\": $number($substringBefore($substringAfter(payload, \"temperature:\"),\"\\n\"))}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "26e4db62.db5654"
            ]
        ]
    },
    {
        "id": "f20d52fc.7259d",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "DHT22_Temp_Transform",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"SensorName\": \"DHT22\", \"SensorType\": \"Temperature\", \"Unit\": \"Degree Celsius\", \"Value\": $number($substringBefore($substringAfter(payload, \"temperature:\"),\"\\n\"))}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "1037a937.ce3717"
            ]
        ]
    },
    {
        "id": "8281be3a.f25cb",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "SCD30_Humid_Transform",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"SensorName\": \"SCD30\", \"SensorType\": \"Humidity\", \"Unit\": \"Percent\", \"Value\": $number($substringBefore($substringAfter(payload, \"humidity:\"),\"\\n\"))}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "d90829b6.5416e8"
            ]
        ]
    },
    {
        "id": "20f0c848.5edb18",
        "type": "change",
        "z": "a0154760.97ad68",
        "name": "DHT22_Humid_Transform",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"SensorName\": \"DHT22\", \"SensorType\": \"Humidity\", \"Unit\": \"Percent\", \"Value\": $number($substringBefore($substringAfter(payload, \"humidity:\"),\"\\n\"))}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "4078ef13.4d9d2"
            ]
        ]
    },
    {
        "id": "26e4db62.db5654",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_30_Values",
        "property": "payload.Value",
        "action": "mean",
        "count": "30",
        "round": "3",
        "mult": "single",
        "reduce": true,
        "x": 810,
        "y": 80,
        "wires": [
            [
                "775d2b4d.9c8674",
                "4c52e723.ccb338"
            ]
        ]
    },
    {
        "id": "d90829b6.5416e8",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_30_Values",
        "property": "payload.Value",
        "action": "mean",
        "count": "30",
        "round": "3",
        "mult": "single",
        "reduce": true,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "3e470c83.3d1fb4"
            ]
        ]
    },
    {
        "id": "1037a937.ce3717",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_30_Values",
        "property": "payload.Value",
        "action": "mean",
        "count": "30",
        "round": "2",
        "mult": "single",
        "reduce": true,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "261b1e52.fff7f2"
            ]
        ]
    },
    {
        "id": "4078ef13.4d9d2",
        "type": "smooth",
        "z": "a0154760.97ad68",
        "name": "Mean_30_Values",
        "property": "payload.Value",
        "action": "mean",
        "count": "30",
        "round": "2",
        "mult": "single",
        "reduce": true,
        "x": 810,
        "y": 500,
        "wires": [
            [
                "71308c9c.7e5444"
            ]
        ]
    },
    {
        "id": "7eed948c.64e5dc",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "SCD30_Temp_LastPublishedRoot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1700,
        "y": 80,
        "wires": []
    },
    {
        "id": "775d2b4d.9c8674",
        "type": "debug",
        "z": "a0154760.97ad68",
        "name": "SCD30_Temp_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "c38f8b58.e7e2f8",
        "type": "ui_dropdown",
        "z": "a0154760.97ad68",
        "name": "",
        "label": "IOTA node",
        "tooltip": "",
        "place": "https://nodes.devnet.thetangle.org:443",
        "group": "45ff4503.e6966c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "https://nodes.devnet.thetangle.org:443",
                "value": "https://nodes.devnet.thetangle.org:443",
                "type": "str"
            },
            {
                "label": "https://trinity.iota.fm:443/",
                "value": "https://trinity.iota.fm:443/",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 230,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4c52e723.ccb338",
        "type": "gate",
        "z": "a0154760.97ad68",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "persist": false,
        "x": 1270,
        "y": 80,
        "wires": [
            [
                "4bde66ef.7e1268"
            ]
        ]
    },
    {
        "id": "11ddde9.5755421",
        "type": "ui_switch",
        "z": "a0154760.97ad68",
        "name": "",
        "label": "Publish data",
        "tooltip": "",
        "group": "45ff4503.e6966c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "style": "",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1090,
        "y": 40,
        "wires": [
            [
                "4c52e723.ccb338"
            ]
        ]
    },
    {
        "id": "4bde66ef.7e1268",
        "type": "mamPublish",
        "z": "a0154760.97ad68",
        "iotaNode": "https://nodes.devnet.thetangle.org:443",
        "mode": "public",
        "secretKey": null,
        "x": 1430,
        "y": 80,
        "wires": [
            [
                "7eed948c.64e5dc"
            ]
        ]
    },
    {
        "id": "9525f378.f6bc6",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "df9c7e98.76f53",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "45ff4503.e6966c",
        "type": "ui_group",
        "z": "",
        "name": "General Setup",
        "tab": "3d75fc11.5e9874",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "3d75fc11.5e9874",
        "type": "ui_tab",
        "z": "",
        "name": "Masked Authenticated Messaging",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]